*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;

    /* whenever we applied position relative the body defaultly have
    position absloute; */
    /* position: relative; */
}

/**
* ! changing the padding of div from top left postition
? 
**/

/**
* ? Navbar styles 
**/
.navbar{
    display: flex;
    flex-direction: row; 
    /* default property */

    justify-content: space-between;
    /* class selector */
    background-color: #212529;
    color:white;
    /* padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 50px; */

    padding: 25px 50px ;
}
.cart{
    position: relative;
    background-color:#fff;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;

}
.cartAmount{
    position: absolute;
    /**
    *! to hang this in the top corner we need positon absloute 
    **/ 
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: red;
    color:white;

}